@use 'vendor/rds/0.21.1/_vars.scss' as rds;
@import 'vendor/rds/0.21.1/_include-media.scss';
// reintroduce the breakpoints var from rds in the global scope for include-media.
$breakpoints: rds.$breakpoints;

article {
  font-size: rds.$pixel16; 
  line-height: 1.7;

  @include media('>s') {
    font-size: rds.$pixel18; // TODO: can we remove this and increase it to 18 in _reboot?
    line-height: 1.8;
  }
}

details {
  border: 1px solid rds.$grey-kenobi;
  border-radius: 4px;
  padding: 10px 20px;
  summary {
    font-size: rds.$pixel16;
    font-weight: 500;
    @include media('>s') {
      font-size: rds.$pixel18;
    }
  }  
  &[open] summary {
    margin-bottom: 10px;
  }
}

fieldset {
  padding: 0.5em 0.75em;
}

legend {
  font-size: rds.$pixel16;
  font-weight: 500;
  @include media('>s') {
    font-size: rds.$pixel18;
  }
}

time {
  display: inline;
}
