@use 'vendor/rds/0.21.1/_vars.scss' as rds;

// List Groups, mostly used in the admin sections.
dl.list-group {
  dt.list-group__link {
    margin: 15px 0px 5px 0px;
  }
}

// Local tasks and actions (precontent region)
#block-ravenalula-local-tasks {
  ul.local-tasks-primary {
    display: flex;
    list-style: none;
    margin-left: 0;
    li {
      display: flex;
      margin-right: 3px;
      a {
        padding: 4px 1em;
        background: rds.$grey;
        color: rds.$link;
        border-radius: 4px 4px 0 0;
        box-shadow: 0px -1px 2px rgba(rds.$black, 0.2); 
        &.is-active {
          background: white;
        }
        &:hover {
          color: rds.$red;
        }
      }
    }
  }
  ul.local-tasks-secondary {
    margin-top: 25px;
    display: flex;
    list-style: none;
    margin-left: 0;
    a {
      padding: 4px 1em;
      color: rds.$link;
      &.is-active {
        border-bottom: thin solid rds.$link;
      }
      &:hover {
        color: rds.$red;
      }
    }
  }
} 

// Forms
.form__group + .form__description {
  margin-top: 10px;
}
summary + .form__description {
  margin-top: 0px;
  margin-bottom: 10px;
}
// Help link for text formats
.form__field--textarea + .form-wrapper a {
  position: relative;
  top: -25px;
}
// Form elements with token browse links
a.token-dialog {
  position: relative;
  top: -25px;
}
// Form descriptions
.form__description {
  margin-top: 10px;
  line-height: 1.8;
  p {
    font-size: inherit;
  }
}
// Give select UI enough room
select.form-select {
  min-width: 150px;
}
// Buttons
.form__field .button {
  font-family: inherit;
  cursor: pointer;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }
  background: rds.$light-blue;
  &:hover {
    background: rds.$blue;
  }
  &.button--danger {
    background: rds.$light-red;
    &:hover {
      background: #e8a0ab;
    }
  }
}
.b-content .form__field a.button {
  display: block;
  width: 100%;
  font-size: rds.$pixel16;
  font-weight: 400;
  border: 1px solid rds.$grey-kenobi;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  max-width: 500px;
  color: inherit;
  &:hover {
    border: inherit;
    color: inherit;
  }
  &:not(.c-buttoncta):hover:not(.u-icon):not(.c-buttoncta).button--danger {
    border: 1px solid rds.$grey-kenobi;
    background: #e8a0ab;
    color: inherit;
  }  
}

// Table fixes
.b-form table .form__field.form-no-label.form__field--checkbox input {
  margin-top: 4px;
}

// System modules fixes
.system-modules td.description details {
  white-space: inherit;
  margin: 0;
  height: auto;
  padding-top: 0;
}

// Form elements without labels
.form__field.form-no-label {
  &.form__field--checkbox {
    input {
      opacity: inherit;
    }
  }
  .form__group {
    margin-top: inherit;
  }
}

// Container in toolbar
.toolbar-menu-administration.form__field {
  margin: inherit;
}

// Status messages
.status-messages {
  .status-message {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: rds.$block-padding-m;
    &.status-message-status { 
      background-color: rds.$light-blue;
    }
    &.status-message-warning {
      background-color: rds.$light-yellow;
    } 
    &.status-message-error {
      background-color: rds.$light-red;
    } 
  }
}

// Help region
#block-ravenalula-help {
  margin-bottom: rds.$block-padding-m;
}

// Table order handles
tr.draggable td {
  box-sizing: content-box;
  .handle {
    margin: -0.5em 0.5em 0;
  }
  a.tabledrag-handle:not(.u-icon):not(.c-buttoncta) {
    box-sizing: content-box;
    border-bottom: none;
  }
  a.tabledrag-handle:not(.c-buttoncta):hover:not(.u-icon):not(.c-buttoncta) {
    border-bottom: none;
  }
}

// Database pages
.connect-box {
  border: 2px solid #ccc;
  font-size: 1.25em;
  line-height: 1;
  padding: 1em;

  .connect-box-list-label {
  }

  .connect-box-list {
    margin-top: 5px;
  }

  .field_database_trial_feedback {
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

// Guide pages
.key-resources {
border: thin #eee solid;
padding: 1em;
margin-bottom: 1em;
}

.paragraph--type--key-resources {
margin-bottom: 1em;
}
